<!DOCTYPE html>
<html>
  <head>
    <title>JUKE BOX</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4>Juke Box</h4>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <% if !current_user %>
            <div class="nav-item">
              <ul class="dropdown test1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" aria-haspopup="true" aria-expanded="false">Sign Up/Sign In</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                  <div class="card" style="width: 20rem;">
                    <div class="card-block">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#users_signup" role="tab" aria-controls="users_signup">sign up</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#users_signin" role="tab" aria-controls="users_signin">sign in</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="users_signup" role="tabpanel"><%= render 'users/registrations/new' %></div>
                        <div class="tab-pane" id="users_signin" role="tabpanel"><%= render 'users/sessions/new' %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          <% else %>
            <ul class="nav-item active">
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
